doctype html
html
  head
    title WELCOME TO THIS DANCE ACADEMY 
    block scripts
    block style
  body
    nav#navbar.top 
      ul 
         #logo 
               img(src="/static/logo.png")           
        
         li #[a(href="/") Home]
         li #[a(href="/") About us]
         li #[a(href="/") Contact]
   

    block content
    block foot
      #footer
        p some footer content